<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Twitter CL</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Twitter CL
                        </a>
                    </li>
                    <% if current_user %>
                      <li>
                        <a href="">
                          @<%= current_user.username %>
                        </a>
                      </li>
                    <% end %>
                    <li>
                      <%= link_to "Home", root_path %>
                    </li>
                    <li>
                      <%= link_to "Search users", users_path %>
                    </li>
                    <li>
                      <%= link_to "Followers", followers_path %>
                    </li>
                    <li>
                        <a href="#">Following</a>
                    </li>
                    <li>
                        <%= link_to "Account", edit_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <%= yield %>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>
</html>
